GOOGLE_API_KEY="YOUR_GEMINI_API_KEY"

ANIMISM_ADK_TOOL_MODE=text_fallback
ANIMISM_LIVE_MODE=adk
ANIMISM_DEBUG_MEDIA=0
ANIMISM_LOG_LEVEL=INFO

# for local test descomment
# ANIMISM_ASSET_BASE_URL=http://localhost:8000

# for cloud test descomment
# ANIMISM_ASSET_BASE_URL=https://animism-epic1-backend-pfxacy7otq-uc.a.run.app
# VITE_API_BASE_URL=https://animism-epic1-backend-143747395634.us-central1.run.app
